################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FlattenTreeExample/v15
/FlattenTreeExample/bin/Debug/netcoreapp2.2
/FlattenTreeExample/obj
